# CGSSB Test Environment Configuration

# Application Port
PORT=3000

# Google Gemini API Key for AI Test Generation & Solved Paper Explanations
GEMINI_API_KEY=

# Database Engine: Google Cloud Firestore (Enterprise Edition)
DATABASE_MODE=firestore
FIRESTORE_DATABASE_ID=ai-studio-cgssbtest-ed944dbb-7a88-46c1-8fe0-4ad38fcd1089
FIREBASE_PROJECT_ID=gen-lang-client-0783153446
